/*BASE STLYLES*/
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'BioRhyme', serif;
  display: flex;
  color: black;;
  width: 100%;
  height: 100%;
}

nav {
  height: 100vh;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}


button {
  font-family: 'BioRhyme', serif;
  font-size: 14px;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  padding: 10px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}




/*SQUARES sizing*/
.squares {
  height: 33.333vh;
}
/*SQUARES CONTENTS*/
.contents {
  /*position: absolute;*/
  width: 95%;
  padding-top: 30%;
  padding-left: 5%;
}
/*WIDE SQUARE*/
.wide {
  width: 66.6666%;
}

.wide-tile {
  display: inline-block;
  width: 90%;
  padding: 7%;
}

.wide p {
  text-align: left;
}


/*regular SQUARES */
.normal {
  display: flex;
  text-align: center;
  width: 33.3333%;
}

#slideshow-section {
  height: 100vh;
  width: 40%;
  background-image: url("assets/mikeandEl-Portrait.jpg");
  /*background-image: url(assets/rtj-killer-mike-el-pHQfullscreen.jpeg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#portrait-image-section {
  display:none;
}


/*COLORS FOR THE SQUARES*/

.wide-tile>h1,
.wide-tile>p {
  color: gray;
}

.black {
  background-color: #050505;
  color: gray;
}

.gold {
  /*background-color: #F5C217;*/
  background-color: #F0DBA0;
}

.teal {
  background-color: #6EC8BE;
}

.red {
  background-color: #E32A28;
}


@media screen and (max-width: 1100px) {

#slideshow-section {
  display: none;
}
nav {
  width: 100%;
  align-items: baseline;
}
.normal {
  width: 50%;
}
#main1 {
  order: -1;
  width:100%;
  /*align-items: stretch;*/
  height:40%;

}
#portrait-image-section {
  display: block;
  height: 50vh;
  /*height: 40%;*/
  width: 100%;
  order: -2;
  background-image: url("assets/run-the-jewels-tiny-desk-concert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-content: stretch;
}
#portfolio8 {
  width: 100%;
}


}
